---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
    <section class="py-20">
        <article class="container px-4 mx-auto flex flex-col gap-8">
            <h1 class="text-sky-500 text-2xl font-black text-center">About</h1>
            <p>"Evolución del Homo Sapiens: La evolución del Homo Sapiens ha sido un proceso lento y complejo. Desde su aparición hace aproximadamente 300,000 años, hasta el momento actual, los humanos han experimentado una amplia gama de cambios. Algunos de los hitos más destacados en la evolución del Homo Sapiens incluyen:</p>
            <p>Evolución cerebral: Uno de los aspectos más notables de la evolución del Homo Sapiens ha sido la expansión y mejora del cerebro. Con un cerebro de aproximadamente 1.400 millones de células nerviosas, los humanos son conocidos por su capacidad de pensamiento abstracto y creatividad.

            Cambios en la dieta: A lo largo de los años, la dieta del Homo Sapiens ha evolucionado. Primero, los humanos se alimentaban de insectos, lombrices y frutas. Más tarde, comenzaron a consumir carne y finalmente desarrollaron la agricultura y la domesticación de animales.

            Evolución física: Además de la evolución cerebral, el cuerpo humano también ha experimentado cambios significativos.</p>
            <img 
                src="https://www.svgrepo.com/show/349419/javascript.svg" 
                alt="Js Tecnologies"
                width="320"
                height="320"
                loading="lazy"
                class="w-80 h-80 mx-auto object-contain">
        </article>
        
    </section>    
</Layout>
