<li class="rounded-2xl overflow-hidden shadow-sm shadow-sky-500 flex flex-col transition-shadow hover-shadow-md hover:shadow-sky-900">
    <a href="#">
        <img 
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1024px-React.svg.png"
            width="640"
            height="360"
            loading="lazy"
            class="w-full h-48 object-cover"
            alt="React">
    </a>
    <article class="h-full p-3 bg-zinc-800 flex flex-col gap2">
        <h2 class="text-lg font-bold">React</h2>
        <h3 class="text-zinc-400 font-semibold">
            React es un framework para desarrollo de sitios web
        </h3>
        <p class="text-sm">
            Con React se pueden desarrollar sitios web de form muy rápida e intuitiva
        </p>
        <a href="" class="px-2 py-0 5 mt-auto border-2 rounded-lg border-sky-500 bg-sky-500 font-semibold text-center transition-all hover:brightness-125">
            Aprender
        </a>
    </article>
</li>