---
import ButtonLike from "./ButtonLike"
---
<header class="fixed z-50 top-0 w-full bg-sky-500">
    <nav class="py-4">
        <div class="container px-4 mx-auto flex items-center justify-between">
            <a href="/" class="flex items-center gap-2">
                <img src="https://www.svgrepo.com/show/349419/javascript.svg" 
                    alt="Js Tecnologies"
                    width="32"
                    height="32"
                    loading="lazy"
                    class="w-8 h-8 object-cover"
                    />
                <h1 class="text-zinc-100 text-xl font-black transition-all hover:brightness-125">Tecnologies</h1>
            </a>
            <ul class="flex gap-3">
                <li>
                    <a href="/about" class="text-zinc-100 font-semibold transition-all hover:brightness-125">About</a>						
                </li>                
                <li>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="text-zinc-100 font-semibold transition-all hover:brightness-125">
                    Juan</a>						
                </li>
            </ul>
            <ButtonLike transition:name="BotonLike" transition:persist client:visible/><!--Con esto, generamos una isla en Astro y podemos ver los
            console.log en la consola del navegador y con transition:name y transition:persist damos persistencia para que guardar los like de cada 
            una de las tecnologías-->
        </div>
    </nav>
</header>	