<footer class="mt-auto">
    <nav class="py-4">
        <article class="container px-4 mx-auto">
            <a href="https://www.linkedin.com/in/juan-jes%C3%BAs-tenreiro-rodr%C3%ADguez-b18726b3/">
                <h2 class="text-zinc-100 font-extrabold text-center transition-all hover:brightness-125">
                    Realizado por Juan Jesús Tenreiro Rodríguez
                </h2>
            </a>
        </article>
    </nav>
</footer>